body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

li {
  list-style: none;
  font-size: 1.8rem;
}

h1,
h2,
h3,
ul {
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 2.2rem;
  line-height: 52px;
  margin: 0px;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
}

/* form section */

.formSection {
  height: 100vh;
  background: url("./assets/bg-picture.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 25px;
  font-size: 4.2rem;
  background-color: rgba(162, 49, 38, 0.75);
  border: white 5px solid;
  margin: 0px;
}

form {
  margin-top: 20px;
  position: sticky;
  width: 500px;
  font-size: 2.2rem;
}

label {
  padding: 10px;
  background-color: teal;
  display: inline-block;
  width: 100%;
  background-color: rgb(162, 49, 38);
  border: white 5px solid;
}

input[type="text"] {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  padding: 5px;
  font-size: 1.8rem;
}

.input {
  margin-top: 20px;
}

/* results section */

.hide {
  display: none;
}

.results {
  background-color: rgb(36, 62, 75);
  padding: 30px;
}

h2 {
  text-align: center;
  padding: 15px 0px;
  font-size: 2.8rem;
  text-transform: capitalize;
  background-color: rgba(162, 49, 38, 0.75);
  border: white 5px solid;
  margin: 0 auto;
  width: 300px;
  margin-top: 30px;
}

/* foodList styling */

.foodList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: center;
}

.foodItem {
  margin: 25px 15px;
  padding: 15px;
  background-color: rgb(162, 49, 38);
  border: white 5px solid;
  width: calc((100% / 2) - 60px);
  min-width: 400px;
}

.nutrients {
  margin-top: 20px;
}

.nutrients li {
  display: flex;
  justify-content: space-between;
}
/* button styling */

button {
  margin-top: 20px;
  font-size: 2.2rem;
  width: 200px;
  padding: 10px 0px;
  background-color: rgb(158, 187, 192);
  border: 5px solid rgb(158, 187, 192);
}

button:hover,
button:focus {
  background-color: rgb(162, 49, 38);
}

/* error styling */

.errorAlert {
  width: 100%;
  text-align: center;
}

.errorAlert h2 {
  width: 100%;
  padding: 10px 10px;
}

.errorAlert div {
  background-color: rgb(158, 187, 192);
  padding: 20px 10px;
  border: 5px solid white;
}

/* media Queries */

/* media @ width 1024px */

@media (max-width: 1024px) {
  .nutrients li span {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2rem;
    width: 200px;
  }

  p {
    font-size: 1.8rem;
    line-height: 40px;
  }

  button {
    font-size: 1.6rem;
    width: 150px;
  }
}

@media (max-width: 724px) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 1.8rem;
    width: 200px;
  }

  p {
    font-size: 1.4rem;
    line-height: 40px;
  }

  h1,
  form {
    width: 400px;
  }

  form {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  h1,
  form {
    width: 300px;
    font-size: 2rem;
    padding: 10px;
  }

  .foodItem {
    min-width: 280px;
  }

  .nutrients li span {
    font-size: 1.2rem;
  }
}
